################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/techdocsdemo/FileContentIndex/09da89ec-f0f0-4b70-bfb0-85a362951b64.vsidx
/techdocsdemo/obj
/.vs/techdocsdemo/FileContentIndex
/.vs
